.Main {
  background: #262626;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.Main h2{
  display: inline-block;
}

.Main_row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 10px;
  padding-right: 15px;
}

.link_h {
  display: inline-block;
}

.link_h:hover {
  color: #fbae17;
  text-decoration: none;
}

